__pycache__/
data/auxiliary/
data/embeddings/
data/preprocessed/
data/raw/
results/compositions/
results/examples/
results/scores/
results/visualisations/
mapping/mapping_models/saved_models/
.ipynb_checkpoints/
mapping/model_training/temp_models
mapping/model_training/training_logs
